/* Bar Chart Styling */

.select-lines {
    margin: 10px;
}

.wordLines {
    margin: 10px;
}

#barChartTooltip {
    position: absolute;
    opacity: 0;
    background: #fff;
    box-shadow: 2px 2px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 14px;
    font-weight: 600;
    padding: 2px 8px;
}

.tooltip-label {
    font-weight: 500;
    font-size: 14px;
    color: #888;
}
.axis line {
    fill: none;
    stroke: #8693a0;
    shape-rendering: crispEdges;
}

.x-axis .domain {
    stroke: #8693a0;
}
.y-axis .domain {
    display: none;
}

.chart-line {
    fill: none;
    stroke: #517390;
    stroke-width: 2px;
}

#line-y-label {
    /* transform: rotate(90deg); */
    margin: 0;
}

#line-tooltip {
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    min-width: 160px;
    color: #333;
}
.tooltip-title {
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

.tooltip-text {
    font-size: 14px;
}

.container {
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: repeat(3,1fr);
    /* grid-template-rows: 1fr 2fr 1fr; */
}

.item1 {
    grid-area: 1 / 1 / 2 / 2;
}
.item2 {
    grid-area: 1 / 2 / 2 / 3;
}
.item3 {
    grid-area: 1 / 3 / 2 / 4;
}
.item4 {
    grid-area: 2 / 1 / 3 / 2;
}
.item5 {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}
.item6 {
    grid-area: 2 / 3 / 3 / 4;
}
.item7 {
    grid-area: 3 / 1 / 4 / 2;
    margin-top: 50px;
}
.item8 {
    grid-area: 3 / 2 / 4 / 4;
}

.words-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}
